#root {

  max-width: 950px;
  margin: 0 auto;
  
  text-align: center;
  width: 100%;
  
}

.logo {
  width: 100px; 
  margin-right: 250px;
  margin-top: 15px;
 
}


.register-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.form-image-container {
    display: flex; /* Align form and image next to each other */
    width: 100%; /* Full width */
    max-width: 950px; /* Set a maximum width */
    overflow: hidden;
}

.form-content {

    flex: 1; /* Allow form to take available space */
    position: relative;
    border-radius: 60px 0 0 60px; /* Rounded corners */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
    background-color: whitesmoke; /* Optional background */
    
}

.image {
    width: 50%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 0 60px 60px 0; /* Rounded corners */
    object-fit: cover; /* Ensure image covers its container */
}

.heading{
width: 250px;
margin-top: 80px;
margin-left: 60px;
margin-bottom: 10px;}

.google-button{align-items: center;
margin-left: 50px;
border-color: #D2d2d2;
border-radius: 1px;
padding: 5px 65px;
margin-bottom: 50px;
background-color: #D2d2d2;
}

.separator{margin-left: 15px;
margin-bottom: 20px;}

.register{background-color: black;
color: white;
align-items: center;
border-radius: 20px ;
padding: 8px 140px;
margin-left: 70px;
margin-top: 5px;
cursor: pointer;}

.form-group input {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
}


.remember-me label {
  color: black;
  align-items:flex-start;
}

#rememberMe{align-items: right;}

.login{background-color: black;
    color: white;
    align-items: center;
    border-radius: 20px ;
    padding: 8px 140px;
    margin-left: 70px;
    margin-top: 5px;
    cursor: pointer;}


    .cta-button {
        padding: 10px 20px;
        background-color: #E949DB; /* Your accent color */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .cta-button:hover {
        background-color: #d03b9a; /* Darker shade for hover effect */
    }
    
    .footer {
        background-color: #ADEDC2; /* Light green for footer */
        text-align: center;
        padding: 10px;
        position: relative;
        bottom: 0;
        width: 100%;
    }